main {
    border-bottom: 0;

    .title {
        background-image: url('./images/project-corse.jpg') !important;
    }

    .pd {
        background-image: url('./images/projet-democratia.jpg') !important;
        background-position: 25% 5%;
    }

    .lifest {
        background-image: url('./images/lifest-cover.jpg') !important;
       
    }

    .intro {
        margin-top: 55px;
        display: flex;
        justify-content: space-between;
        position: relative;
        flex-direction: column;

        .container {
            height: 100%;
            width: 100%;
        }

        .see {
            height: 150px;
            width: 150px;
            border-radius: 150px;
            background-color: #3A3F50;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            right: 0;
            color: white;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bold;

        }

        h2 {
            font-size: 24px;
            color: #3A3F50;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: underline;
        }

        h4 {
            font-size: 18px;
            color: #3a3f507a;
        }

        .info {
            margin-top: 50px;
            width: 60%;
            min-height: 150px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 40px;

            h4 {
                text-transform: uppercase;
                font-weight: bold;
                color: #3A3F50;
            }

            .element {
                margin: 0;
                width: max-content;
            }
        }
    }

    .presentation-projet {
        margin-top: 150px;
        padding: 50px 0;
        font-size: 18px;
        border-top: 2px solid #3A3F50;
        border-bottom: 2px solid #3A3F50;
    }
}



#highlight {
    margin-bottom: 200px;

    &::before {
        content: "";
        height: 215vh;
        left: calc(50% - 3px);
        width: 2px;
        z-index: -1;
        background-color: #3A3F50;
        position: absolute;
    }

    img {
        object-fit: cover;
        border-radius: 5px;
    }

    .big {
        margin-top: 150px;
        width: 100%;
        max-height: 800px;
        margin-bottom: 100px;
    }

    .thin {
        margin-top: 100px;
        margin-bottom: 100px;
        width: 100%;
        height: 350px;
    }

    .double {
        display: flex;
        width: 100%;
        justify-content: space-between;

        img {
            width: 45%;
        }
    }
}

#third-part {
    padding-top: 50px;
}

.hl2 {
    margin-bottom: 200px;

    &::before {
        content: "";
        height: 400vh;
        left: calc(50% - 3px);
        width: 2px;
        z-index: -1;
        background-color: #3A3F50;
        position: absolute;
    }

    img {
        object-fit: cover;
        border-radius: 5px;
    }

    .big {
        margin-top: 150px;
        width: 100%;
        max-height: 800px;
        margin-bottom: 100px;
    }

    .thin {
        margin-top: 100px;
        margin-bottom: 100px;
        width: 100%;
        height: 350px;
    }

    .double {
        display: flex;
        width: 100%;
        justify-content: space-between;

        img {
            width: 45%;
        }
    }
}



@media only screen and (max-width : 1050px) {
    #highlight::before {
        height: 200vh;
    }

    .hl2::before {
        height: 320vh;
    }
}

@media only screen and (max-width : 960px) {
    main {
        .intro {
            .info {
                margin-top: 50px;
                width: 80%;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                // grid-column-gap: 20px;
                grid-row-gap: 40px;
            }

            .see {
                height: 100px;
                width: 100px;
                font-size: 12px;
            }
        }
    }

    #highlight::before {
        height: 0;
    }

    #highlight, .hl2 {
        .double {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            gap: 20px;

            img {
                width: 100%;
            }
        }
    }

    .hl2::before {
        height: 0;
    }
}

@media only screen and (max-width : 480px) {
    main {
        .intro {

            h2 {
                font-size: 21px;
            }

            .info {
                margin-top: 50px;
                width: 80%;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(6, 1fr);
                // grid-column-gap: 20px;
                grid-row-gap: 30px;
                margin-bottom: 50px;
            }

            .container {
                width: 100%;
            }

            .see {
                border-radius: 10px;
                background-color: #3A3F50;
                height: 50px;
                width: 100%;
                font-size: 14px;
                position: initial;
            }
        }

        .presentation-projet {
            margin-top: 100px;
            padding: 20px 0;

            p {
                font-size: 14px;
            }
        }
    }

    #highlight, .hl2 {
        .double {
            img {
                height: 500px;
            }

            ;
        }
    }

    #highlight::before {
        height: 150vh;
    }
}

@media only screen and (max-width : 450px) {
    #highlight::before {
        height: 0;
    }

    .hl2::before {
        height: 0;
    }

    #highlight, .hl2 {
        margin-top: 50px;
        .big {
            margin: 0;
            margin: 10px 0;
        }

        .thin {
            margin: 20px 0;
        }

        .double {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            gap: 20px;

            img {
                width: 100%;
            }
        }
    }
}